@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/button--2";
@import "components/composition";
@import "components/feature-box";
@import "components/card";
@import "components/story";
@import "components/bg--video";
@import "components/form";

@import "layout/header";
@import "layout/grid";
@import "layout/footer";
 
@import "pages/home";

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/





