.btn--2 {
    position: relative;
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    /*  */background: transparent;
    outline: none;
    font-size: 28px;
    color: $color-black;
    transition: all 0.5s $cubic-bezier 0.15s;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    &::after,
    &::before {
        content: "";
        position: absolute;
        height: 60%;
        width: 10%;
        transition: all 0.5s $cubic-bezier;
        border-radius: 50%;
        //animation: grow 1s infinite;
    }

    &::before {
        background-color: $color-primary-light;
        top: -0.75rem;
        left: 0.5rem;
        animation: top 2s $cubic-bezier 0.25s infinite alternate;
    }

    &::after {
        background-color: $color-primary-dark;
        top: 3rem;
        left: 13rem;
        animation: bottom 2s $cubic-bezier 0.5s infinite alternate;
    }

    &:hover {
        color: $color-white;
        z-index:5;
        &::before,
        &::after {
            top: 0;
            //transform: skewx(-10deg);
            height: 100%;
            width: 100%;
            border-radius: 0;
            animation: none;
            z-index: -5;
        }

        &::after {
            left: 0rem;
        }

        &::before {
            top: 0.5rem;
            left: 0.35rem;
        }
    }
}

