@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes top{
	0%{
		transform: translate(0rem, -2rem);
	}
	50% {
		transform: translate(0rem, 5.5rem);
    }
    100%{
		transform: translate(16.5rem, 0rem);
    }
}
@keyframes bottom{
	0%{
		transform: translate(-13.5rem, 0);
	}
	50%{
		transform: translate(6.7rem, -5rem);
    }
    100%{
        transform: translate(18.5rem, 0)
    }
}